body {
  margin-bottom: 15vh;
}

.widget-26 {
  color: #3c4142;
  font-weight: 400;
}

.widget-26 tr:first-child td {
  border: 0;
}

.widget-26 .widget-26-job-emp-img img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.widget-26 .widget-26-job-title {
  min-width: 200px;
}

.widget-26 .widget-26-job-title a {
  font-weight: 400;
  font-size: 0.875rem;
  color: #3c4142;
  line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
  color: #68cbd7;
  text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
  color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
  color: #68cbd7;
  text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
  font-size: 12px;
  font-weight: 400;
}

.widget-26 .widget-26-job-info {
  min-width: 100px;
  font-weight: 400;
}

.widget-26 .widget-26-job-info p {
  line-height: 1.5;
  color: #3c4142;
  font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
  color: #3c4142;
}

.widget-26 .widget-26-job-salary {
  min-width: 70px;
  font-weight: 400;
  color: #3c4142;
  font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
  padding: 0.5rem;
  display: inline-flex;
  white-space: nowrap;
  border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
  width: 13px;
  height: 13px;
  margin-right: 0.5rem;
  float: left;
  border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
  font-size: 0.8125rem;
  color: #3c4142;
  font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
  width: 20px;
  height: 20px;
  color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
  fill: #fd8b2c;
}
.bg-soft-base {
  background-color: #e1f5f7;
}
.bg-soft-warning {
  background-color: #fff4e1;
}
.bg-soft-success {
  background-color: #d1f6f2;
}
.bg-soft-danger {
  background-color: #fedce0;
}
.bg-soft-info {
  background-color: #d7efff;
}

.search-form {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-body {
  margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
  margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

.search-body .search-result .result-header {
  margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select {
  color: #68cbd7;
}

.search-body
  .search-result
  .result-header
  .result-actions
  .result-sorting
  select
  option {
  color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }
  .search-body .search-filters .filter-list {
    margin-right: 1rem;
  }
}

.card-margin {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

.card-margin {
  margin-bottom: 1.875rem;
}
.card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

/*  */

footer {
  padding: 20px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

footer ul a:hover {
  opacity: 1;
}

footer .social {
  text-align: center;
  padding-bottom: 20px;
}

footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

footer .social > a:hover {
  opacity: 0.9;
}

footer .copyright {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/*  */

.btn-search {
  opacity: 0.75;
}

.btn-search:hover {
  opacity: 1;
}

.btn-search:active,
.btn-search:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

.search-dropdown:active,
.search-dropdown:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

.search-dropdown {
  color: #888;
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

/*  */

.profile-dropdown > a {
  color: #000;
}

.profile-dropdown > a .arrow {
  display: inline-block;
  position: relative;
  -webkit-transition: 0.3s transform ease;
  -o-transition: 0.3s transform ease;
  transition: 0.3s transform ease;
}

.profile-dropdown.show > a .arrow {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.profile-dropdown .btn:active,
.profile-dropdown .btn:focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none;
}

.profile-dropdown .btn.btn-custom {
  border: 1px solid #efefef;
}

.profile-dropdown .title-wrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-dropdown .title {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.profile-dropdown .dropdown-link .profile-pic {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}

.profile-dropdown .dropdown-link .profile-pic img {
  width: 50px;
  border-radius: 50%;
}

.profile-dropdown .dropdown-link .profile-info h3,
.profile-dropdown .dropdown-link .profile-info span {
  margin: 0;
  padding: 0;
}

.profile-dropdown .dropdown-link .profile-info h3 {
  font-size: 16px;
}

.profile-dropdown .dropdown-link .profile-info span {
  display: block;
  font-size: 13px;
}

.profile-dropdown .dropdown-menu {
  border: 1px solid transparent !important;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  margin-top: -10px !important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  border-radius: 0;
  background: #fff;
  right: auto !important;
  left: auto !important;
  -webkit-transition: 0.3s margin-top ease, 0.3s opacity ease,
    0.3s visibility ease;
  -o-transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
  transition: 0.3s margin-top ease, 0.3s opacity ease, 0.3s visibility ease;
  visibility: hidden;
}

.profile-dropdown .dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  margin-top: 0px !important;
}

.profile-dropdown .dropdown-menu a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 15px 15px;
  position: relative;
  color: #b2bac1;
}

.profile-dropdown .dropdown-menu a:last-child {
  border-bottom: none;
}

.profile-dropdown .dropdown-menu a .icon {
  margin-right: 15px;
  display: inline-block;
}

.profile-dropdown .dropdown-menu a:hover,
.profile-dropdown .dropdown-menu a:active,
.profile-dropdown .dropdown-menu a:focus {
  background: #fff;
  color: #000;
}

.profile-dropdown .dropdown-menu a:hover .number,
.profile-dropdown .dropdown-menu a:active .number,
.profile-dropdown .dropdown-menu a:focus .number {
  color: #fff;
}

.profile-dropdown .dropdown-menu a .number {
  padding: 2px 6px;
  font-size: 11px;
  background: #fd7e14;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  border-radius: 4px;
  color: #fff;
}
