<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Who Are</a>
        <!-- <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
        <div class="row">
            <div class="dropdown profile-dropdown">
                <a href="#" class="d-flex align-items-center dropdown-link text-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="0, 20">
                    <div class="profile-pic mr-3">
                        <img src="static/images/person_2.jpg" alt="Image">
                    </div>
                    <div class="profile-info">
                        <h3>Kevin Thomas</h3>
                        <span>New York City, USA</span>
                    </div>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="#" class="dropdown-item"><i class="fa-brands fa-github"></i> User Dashboard</a>
                    <a href="#" class="dropdown-item"><i class="fa-brands fa-github"></i> Inbox <span class="number">3</span></a>
                    <a href="#" class="dropdown-item"><i class="fa-brands fa-github"></i> Following</a>
                    <a href="#" class="dropdown-item"><i class="fa-brands fa-github"></i> Setting</a>
                    <a href="#" class="dropdown-item"><i class="fa-brands fa-github"></i> Log out</a>
                </div>
            </div>
        </div>


    </div>
</nav>

