{{template "partials/header" .}}

<div class="container" id="body">
    <div class="row">
        <div style="margin-top: 25%">
            <form action="" method="get" autocomplete="on" accept-charset="utf-8">
                <div class="row">
                    <div class="nine columns">
                        <input class="u-full-width" type="text" placeholder="Search anything..." name="q" id="q" value="{{.Q}}">
                    </div>
                    <div class="three columns">
                        <input class="u-full-width" type="submit" value="search">
                    </div>
                </div>
            </form>
            <table class="u-full-width">
                <tbody>
                    {{range .Employees}}
                        <tr>
                            <td><a href="/profile/{{.ID}}">{{.Name}}</a><br>{{.Position}}, <span id="{{.ID}}_time"></span></td>
                            <td><a href="mailto:{{.Email}}">{{.Email}}</a></td>
                            <td>
                                <a href="/profile/{{.ID}}/edit" class="icon">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20"
                                        height="20" viewBox="0 0 490.273 490.273" style="enable-background:new 0 0 490.273 490.273;"
                                        xml:space="preserve">
                                        <g>
                                            <path d="M313.548,152.387l-230.8,230.9c-6.7,6.7-6.7,17.6,0,24.3c3.3,3.3,7.7,5,12.1,5s8.8-1.7,12.1-5l230.8-230.8 c6.7-6.7,6.7-17.6,0-24.3C331.148,145.687,320.248,145.687,313.548,152.387z" />
                                            <path d="M431.148,191.887c4.4,0,8.8-1.7,12.1-5l25.2-25.2c29.1-29.1,29.1-76.4,0-105.4l-34.4-34.4 c-14.1-14.1-32.8-21.8-52.7-21.8c-19.9,0-38.6,7.8-52.7,21.8l-25.2,25.2c-6.7,6.7-6.7,17.6,0,24.3l115.6,115.6 C422.348,190.187,426.748,191.887,431.148,191.887z M352.948,45.987c7.6-7.6,17.7-11.8,28.5-11.8c10.7,0,20.9,4.2,28.5,11.8 l34.4,34.4c15.7,15.7,15.7,41.2,0,56.9l-13.2,13.2l-91.4-91.4L352.948,45.987z" />
                                            <path d="M162.848,467.187l243.5-243.5c6.7-6.7,6.7-17.6,0-24.3s-17.6-6.7-24.3,0l-239.3,239.5l-105.6,14.2l14.2-105.6 l228.6-228.6c6.7-6.7,6.7-17.6,0-24.3c-6.7-6.7-17.6-6.7-24.3,0l-232.6,232.8c-2.7,2.7-4.4,6.1-4.9,9.8l-18,133.6 c-0.7,5.3,1.1,10.6,4.9,14.4c3.2,3.2,7.6,5,12.1,5c0.8,0,1.5-0.1,2.3-0.2l133.6-18 C156.748,471.587,160.248,469.887,162.848,467.187z" />
                                        </g>
                                    </svg>
                                </a>

                                <a href="#" onclick="modalEvent('/profile/{{.ID}}/delete', '{{.Name}}')" class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                                        <g transform="translate(128 128) scale(0.87 0.87)">
                                            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                                                transform="translate(-144.89999999999998 -144.90000000000003) scale(3.22 3.22)">
                                                <path d="M 64.71 90 H 25.291 c -4.693 0 -8.584 -3.67 -8.859 -8.355 l -3.928 -67.088 c -0.048 -0.825 0.246 -1.633 0.812 -2.234 c 0.567 -0.601 1.356 -0.941 2.183 -0.941 h 59.002 c 0.826 0 1.615 0.341 2.183 0.941 c 0.566 0.601 0.86 1.409 0.813 2.234 l -3.928 67.089 C 73.294 86.33 69.403 90 64.71 90 z M 18.679 17.381 l 3.743 63.913 C 22.51 82.812 23.771 84 25.291 84 H 64.71 c 1.52 0 2.779 -1.188 2.868 -2.705 l 3.742 -63.914 H 18.679 z"/>
                                                <path d="M 80.696 17.381 H 9.304 c -1.657 0 -3 -1.343 -3 -3 s 1.343 -3 3 -3 h 71.393 c 1.657 0 3 1.343 3 3 S 82.354 17.381 80.696 17.381 z"/>
                                                <path d="M 58.729 17.381 H 31.271 c -1.657 0 -3 -1.343 -3 -3 V 8.789 C 28.271 3.943 32.214 0 37.061 0 h 15.879 c 4.847 0 8.789 3.943 8.789 8.789 v 5.592 C 61.729 16.038 60.386 17.381 58.729 17.381 z M 34.271 11.381 h 21.457 V 8.789 C 55.729 7.251 54.478 6 52.939 6 H 37.061 c -1.538 0 -2.789 1.251 -2.789 2.789 V 11.381 z"/>
                                                <path d="M 58.33 74.991 c -0.06 0 -0.118 -0.002 -0.179 -0.005 c -1.653 -0.097 -2.916 -1.517 -2.819 -3.171 l 2.474 -42.244 c 0.097 -1.655 1.508 -2.933 3.171 -2.819 c 1.653 0.097 2.916 1.516 2.819 3.17 l -2.474 42.245 C 61.229 73.761 59.906 74.991 58.33 74.991 z"/>
                                                <path d="M 31.669 74.991 c -1.577 0 -2.898 -1.23 -2.992 -2.824 l -2.473 -42.245 c -0.097 -1.654 1.165 -3.073 2.819 -3.17 c 1.646 -0.111 3.073 1.165 3.17 2.819 l 2.473 42.244 c 0.097 1.654 -1.165 3.074 -2.819 3.171 C 31.788 74.989 31.729 74.991 31.669 74.991 z"/>
                                                <path d="M 45 74.991 c -1.657 0 -3 -1.343 -3 -3 V 29.747 c 0 -1.657 1.343 -3 3 -3 c 1.657 0 3 1.343 3 3 v 42.244 C 48 73.648 46.657 74.991 45 74.991 z"/>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        <script>
                            today = new Date();
                            hireDate = new Date({{.HireDate}});
                            _y = today.getFullYear() - hireDate.getFullYear();
                            _m = (_y * 12) + (today.getMonth() - hireDate.getMonth());
                            document.getElementById('{{.ID}}_time').innerHTML = Math.floor(_m/12)+'y' + (_m%12)+'m';
                        </script>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal" class="center hidden h-center">
    <form action="" id="modal-form" method="post">
        <label for="password">Are you sure?</label>
        <input type="password" placeholder="" name="password" id="modal-password" required><br>
        <input id="modal-no" type="button" value="no" onclick="modalEventCancel()">
        <input id="modal-yes" type="submit" value="yes">
    </form>
</div>

<script>
    function modalEventStyle(opacity, pointerEvent, modalVisibility) {
        page = document.getElementById('body');
        page.style.opacity = opacity;
        page.style.pointerEvents = pointerEvent
        modal = document.getElementById('modal');
        modal.style.visibility = modalVisibility;
    }

    function modalEvent(url, employee) {
        modalEventStyle(0.1, 'none', 'visible');
        employee = employee.split(' ')[0];
        document.getElementById('modal-form').action = url;
        document.getElementById('modal-password').placeholder = employee + '\'s password';
    }

    function modalEventCancel() {
        modalEventStyle(1, 'auto', 'hidden');
        document.getElementById('modal-form').action = "";
        document.getElementById('modal-password').placeholder = '';
    }
</script>

{{template "partials/footer" .}}
