{{template "partials/header" .}}

<div class="container">

    <div class="row">
        <div class="col-lg-12 card-margin">
            <div class="card search-form">
                <div class="card-body p-0">
                    <form action="" id="search-form">
                        <div class="row no-gutters">
                            <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                                <!-- TODO: optimize -->
                                <select name="search_by" id="search_by" class="search-dropdown">
                                    {{if eq .Filter.SearchBy "name"}}
                                        <option value="name" selected="selected" class="dropdown-item">Nome</option>
                                    {{else}}
                                        <option value="name" class="dropdown-item">Nome</option>
                                    {{end}}
                                    {{if eq .Filter.SearchBy "skill"}}
                                        <option value="skill" selected="selected" class="dropdown-item">Skill</option>
                                    {{else}}
                                        <option value="skill" class="dropdown-item">Skill</option>
                                    {{end}}
                                </select>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 p-0">
                                <input type="text" id="q" placeholder="Search anything..." class="form-control" name="q" value={{.Filter.Q}}>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-12 p-0">
                                <button class="btn btn-base btn-search" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card card-margin">
                <div class="card-body">
                    <div class="row search-body">
                        <div class="col-lg-12">
                            <div class="search-result">

                                <div class="result-header">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="records">Showing: <b>{{.G.FirstIdx}}-{{.G.LastIdx}}</b> of <b>{{.G.Count}}</b> results</div>
                                        </div>
                                        <div class="col-lg-6 right d-flex align-items-end flex-column">
                                            <div class="result-actions">
                                                <div class="result-sorting">
                                                    <span>Sort By:</span>
                                                    <script>
                                                        function sort(sel) {
                                                                var url = new URL(location.href);
                                                                var search_params = url.searchParams;
                                                                search_params.set('sort_by', sel.value);
                                                                url.search = search_params.toString();
                                                                location.href = url.toString();
                                                            }
                                                    </script>
                                                    <select name="sort_by" id="sort_by" class="form-control border-0" onchange="sort(this)">
                                                        <!-- TODO: optimize -->
                                                        {{if eq .Filter.SortBy "asc"}}
                                                            <option value="asc" selected="selected">Nome (A-Z)</option>
                                                        {{else}}
                                                            <option value="asc">Nome (A-Z)</option>
                                                        {{end}}
                                                        {{if eq .Filter.SortBy "desc"}}
                                                            <option value="desc" selected="selected">Nome (Z-A)</option>
                                                        {{else}}
                                                            <option value="desc">Nome (Z-A)</option>
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="result-body">
                                    <div class="table-responsive">
                                        <table  class="table widget-26">
                                            {{if not .G.Count}}
                                                <h4 class="d-flex justify-content-center m-1">Empty</h4>
                                            {{else}}
                                                <tbody>
                                                    <tr></tr>
                                                    {{range .Employees}}
                                                        <tr>
                                                            <td>
                                                                <div class="widget-26-job-emp-img">
                                                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Company">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-title">
                                                                    <a href="#">{{.Name}}</a>
                                                                    <p class="m-0">{{.Position}} <span class="text-muted time">2 days ago</span></p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="widget-26-job-category bg-soft-base">
                                                                    <i class="indicator bg-base"></i>
                                                                    <span>Software Development</span>
                                                                </div>
                                                                <div class="widget-26-job-category bg-soft-success">
                                                                    <i class="indicator bg-success"></i>
                                                                    <span>Artificial Intelligence</span>
                                                                </div>
                                                                <div class="widget-26-job-category bg-soft-danger">
                                                                    <i class="indicator bg-danger"></i>
                                                                    <span>Design</span>
                                                                </div>
                                                                <div class="widget-26-job-category bg-soft-info">
                                                                    <i class="indicator bg-info"></i>
                                                                    <span>Infra Supervision</span>
                                                                </div>
                                                            </td>
                                                            <!-- <td>
                                                                <div class="widget-26-job-starred">
                                                                    <a href="#">
                                                                        <i class="fa fa-star"></i>
                                                                    </a>
                                                                </div>
                                                            </td> -->
                                                        </tr>
                                                    {{end}}
                                                </tbody>
                                            {{end}}
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <nav class="d-flex justify-content-center">
                        <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
                            <script>
                                function pagination(sel) {
                                    var url = new URL(location.href);
                                    var search_params = url.searchParams;
                                    search_params.set('page', sel.text);
                                    url.search = search_params.toString();
                                    location.href = url.toString();
                                }
                            </script>
                            {{if .G.Pages}}
                                <li class="page-item">
                                    <a href="#" class="page-link no-border">
                                        <span aria-hidden="true">«</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>

                                {{range .G.Pages}}
                                    {{if eq $.Filter.Page .Idx}}
                                        <li class="page-item active">
                                            <a href="#" class="page-link no-border" onclick="pagination(this)">{{.Idx}}</a>
                                        </li>
                                    {{else}}
                                        <li class="page-item">
                                            <a href="#" class="page-link no-border" onclick="pagination(this)">{{.Idx}}</a>
                                        </li>
                                    {{end}}
                                {{end}}

                                <li class="page-item">
                                    <a href="#" class="page-link no-border">
                                        <span aria-hidden="true">»</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            {{end}}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
</div>


{{template "partials/footer" .}}
